<?xml version="1.0" encoding="utf-8"?>
<Configuration Hash="F/HKvkdlhkYeQ8RQrMIulJcpyaByDJEx">
	<Section Name="Exceptions">
		<ExceptionPolicies>
			<ExceptionPolicy ReThrow="true" Name="DataBase">
				<ExceptionTypes>
					<ExceptionType>System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
				</ExceptionTypes>
				<ExceptionHandlers>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.LogHandler</ExceptionHandler>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.UIHandler</ExceptionHandler>
				</ExceptionHandlers>
			</ExceptionPolicy>
			<ExceptionPolicy ReThrow="true" Name="WorkFlow">
				<ExceptionTypes>
					<ExceptionType>System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
				</ExceptionTypes>
				<ExceptionHandlers>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.LogHandler</ExceptionHandler>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.UIHandler</ExceptionHandler>
				</ExceptionHandlers>
			</ExceptionPolicy>
			<ExceptionPolicy ReThrow="true" Name="Application">
				<ExceptionTypes>
					<ExceptionType>System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
				</ExceptionTypes>
				<ExceptionHandlers>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.LogHandler</ExceptionHandler>
				</ExceptionHandlers>
			</ExceptionPolicy>
		</ExceptionPolicies>
	</Section>
	<Section Name="Logs">
		<LoggingConfiguration>
			<Configuration Name="Exceptions" Running="true">
				<LogStorage>RoyalSystems.Core.Logs.FileLogStorage</LogStorage>
			</Configuration>
		</LoggingConfiguration>
	</Section>
	<Section Name="Security">
		<PageAccess>
			<Page>/Default.aspx</Page>
			<Page>/Login.aspx</Page>
			<Page>/RS/RS_Error.aspx</Page>
			<Page>/RS/RS_Download.aspx</Page>
			<Page>/RS/RS_UploadFile.aspx</Page>
			<Page>/RS/RS_UploadImage.aspx</Page>
			<Page>/RS/OracleConection.aspx.aspx</Page>
			<Page>/RS/Prueba.aspx</Page>
		</PageAccess>
		<AllowedExtensions>
			<Extension>axd</Extension>
			<Extension>asbx</Extension>
			<Extension>rdlc</Extension>
			<Extension>asmx</Extension>
			<Extension>css</Extension>
			<Extension>gif</Extension>
			<Extension>png</Extension>
			<Extension>jpg</Extension>
			<Extension>js</Extension>
		</AllowedExtensions>
	</Section>
	<Section Name="Connections">
		<Connections>
			<sessionState mode="InProc" cookieless="false" timeout="216000"/>
			<ConnectionGroup Name="SERVERSQL">
		
						<ConnectionString Name="PR" Encrypted="false" Provider="SqlServer"> Server=DESKTOP-A52U5BF\SQLEXPRESS; Initial Catalog=BDSistema; User ID=sa; password=m1r1; </ConnectionString>

			</ConnectionGroup>
		</Connections>
	</Section>
</Configuration>
